:root{
    --col: #212529;
    --wh: #fff;
    --yell: #FFB742;
    --or: #FF7B42;
    --dark: #292B2E;
    --white-op: rgba(255, 255, 255, 0.08);
    --btn-size: 120px;
    --footer-col: #1C1C1C;

}

body{
    background-color: var( --col);
    font-family: 'Poppins', sans-serif;
    color: var(--wh);
}


/*HEADER*/

.header{
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 66px;
    padding: 20px 0;
    position: sticky;
    top: 20px;
    z-index: 1;
    background-color: rgba(33, 37, 41, 0.8);

}

.header li{
    list-style: none;
    text-align: center;
}

.header li a{
    text-decoration: none;
    color: var(--wh);
}

.header li:hover a{
    color: var(--yell);
}

.header ul{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
}

.btn{
    background-color: var(--yell);
    width: var(--btn-size);
    height: 55px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.btn a{
    text-decoration: none;
    color: var(--col);
}

.hi{
    width: 96%;
    margin: 0 auto;

}

.sayhi{
    display: flex;
    justify-content: center;
    margin-top: 110px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.sayhi a{
    color: var(--yell);
    margin-left: 10px;
}

.des{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight:700;
    font-family: 'Inter', sans-serif ;
}

.whatican{
    font-family: 'Inter', sans-serif ;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.hi > img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 220px;
}

.cards{
    display: flex;
    justify-content: center;
    width: 96%;
    height: 120px;
    margin: 0 auto;
    margin-top: 135px;
}

.card{
    width: 30%;
    height: 120px;
    background-color: var(--dark) ;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

}

.card img{
    height: 65px;
    font-family: 'Inter', sans-serif ;
}

.cards > .card > .arrow{
    height: 20px;
}

.par{
    font-weight: 700;
    font-family: 'Inter', sans-serif ;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cards > .card> .par > .head{
    font-size: 32px;
    color: var(--yell);
}

.card:hover{
    background: linear-gradient( 150deg, var(--yell), var(--or));
    color: var(--col);
}

.cards > .card:hover> .par > .head{
    color: var(--col);
}

/*WHOIM*/

.whoim{
    height: 630px;
    display: flex;
    width: 96%;    
    margin: 0 auto;
    margin-top: 220px;
    justify-content: space-between;
}

.content-whoim{
    width: 47%;
    height: 400px;

}

.paragr{
    width: 150px;
    height: 40px;
    background-color: var(--white-op);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--yell);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.head{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.text-con{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 30px;
    color: #D4D4D4;
}

.whoim .btn{
    width: calc( var(--btn-size) * 1.25 );
    margin-top: 55px;
}

/*SKILLS*/

.skills{
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.cont-skills{
    width: 47%;
}

.skills .btn{
    margin-top: 65px;
    width: calc( var(--btn-size) * 1.25 );
}

.icons{
    width: 42%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 200px;
}

.row-1, .row-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 80px;
    height: 80px;
    background-color: var(--white-op);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:hover{
    background-color: rgba(255, 183, 66, 0.5);
    border: 1px solid #000;
}

.works .menu-01{
   width: 60px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.works .menu-02{
    width: 130px;
    height: 40px;
    display: flex;
   justify-content: center;
   align-items: center;
}

.works .menu-03{
    width: 170px;
    height: 40px;
    display: flex;
   justify-content: center;
   align-items: center;
}

.works .menu-04{
    width: 220px;
    height: 40px;
    display: flex;
   justify-content: center;
   align-items: center;
}

.works .head-menu a{
    text-decoration: none;
    color: var(--wh);
}

.works .head-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 51%;
}

.works .head-menu :hover{
    background-color: var(--yell);
    border-radius: 3px;
}

.works .head-menu :hover a{
    color: var(--col);
}


.works{
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 135px;
}

.cards-work{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 900px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.cards-col{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 900px;
}


/*REVIEW*/

.review{
    width: 90%;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 135px;
}

.rew-cards{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.rew-style{
    width: 30%;
    height: 455px;
    background: var(--wh);
    border-radius: 8px;
    color: var(--col);
    box-sizing: border-box;
    margin-top: 90px;
}

.rew-content{
    width: 80%;
    margin: 0 auto;
}

.stars{
    padding-top: 50px;
}

.stars img{
    margin: 0 1%;
}

.rew{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
}

.ava-info{
    margin-top: 36px;
    display: flex;
    justify-content: flex-start;

}

.name{
    margin-left: 25px;
}

.cl-name{
    font-weight: 700;
    font-size: 20px;
    margin: 5% 0 5% 0;
}

/*FOOTER*/

.footer{
    width: 100%;
    background: var(--footer-col);
    height: 470px;
    margin-top: 250px;

}

.foot-cont{
    width: 90%;
    margin: 0 auto;
    padding-top: 150px;
    display: flex;
    justify-content: space-between
}

.owner{
    width: 240px;
}

.ow-name{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: var(--yell);
}

.ow-status{
    margin-top: 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
}

.links{
    width: 150px;
}

.link-head{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.links ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 180px;
    margin-top: 25px;
}

.links li{
    list-style: none;
    text-align: center;

}

.links a{
    text-decoration: none;
    color: #7B7B7B;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.links li:hover a{
    color: var(--yell);
}


.media{
    width: 150px;
}

.media-head{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.media ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 180px;
    margin-top: 25px;
}

.media li{
    list-style: none;
    text-align: center;

}

.media a{
    text-decoration: none;
    color: #7B7B7B;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.media li:hover a{
    color: var(--yell);
}

.news{
    width: 320px;
}
.newsl{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.newsl-cont{
    color: #7B7B7B;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    line-height: 1.8;
}
